<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
		
		<title>The HTML5 Herald</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		
		<link rel="stylesheet" href="/css/styles.css?v=1.0">
		<link rel="stylesheet" href="/css/weather-icons-wind.min.css?v=1.0">
		<link rel="stylesheet" href="/css/weather-icons.min.css?v=1.0">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	</head>

	<body>

		<div class="pos vcenter hcenter info-wrapper">
			<div class="big speak">Hello...</div>
			<ul class="news" data-news="true"></ul>
		</div>

		<div class="pos top right">
			<div class="day-wrapper" data-day="true">{{weekday}}</div>
			<div class="big time-wrapper">
				<span class="hours" data-hours="true">{{hours}}</span>
				<span class="hours-to-minutes">:</span>
				<span class="minutes" data-minutes="true">{{minutes}}</span>
				<span class="minutes-to-secondes">:</span>
				<span class="seconds" data-seconds="true">{{seconds}}</span>
				<span class="meridiem" data-meridiem="true">{{meridiem}}</span>
			</div>

			<div class="weather">
				<div class="wi" data-weather-icon="true"></div>
			</div>
			<div class="degree">
				<span data-weather-icon="true" data-weather-temp="true"></span>
				<span>°C</span>
			</div>
		</div>

		<div class="pos bottom right transport">
			<ul data-train-time="true">
			</ul>
		</div>
		
		{{#if config.firebase}}
		<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
		<script>
		var firebaseConfig = {{{config.firebase}}};
		</script>
		{{/if}}
		<script src="js/scripts.js"></script>
	</body>
</html>