<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
		
		<title>The HTML5 Herald</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="/css/styles.css?v=1.0">
	</head>

	<body>
		<div class="pos today">
			<div class="day-wrapper" data-day="true"></div>
			<div class="big time-wrapper">
				<span class="hours" data-hours="true"></span>
				<span class="hours-to-minutes">:</span>
				<span class="minutes" data-minutes="true"></span>
				<span class="minutes-to-secondes">:</span>
				<span class="seconds" data-seconds="true"></span>
				<span class="meridiem" data-meridiem="true"></span>
			</div>
			
			<div class="weather-wrapper hidden" data-weather-wrapper="true">
				<div class="weather">
					<div class="wi" data-weather-icon="true"></div>
				</div>
				<div class="degree">
					<span data-weather-icon="true" data-weather-temp="true"></span>
					<span>°C</span>
				</div>

				<div class="last-update">Last update: <span last-update="true"></span></div>
			</div>
		</div>

		<div class="pos info-wrapper">
			<div class="big speak" data-info-msg="true">Hello...</div>

			<div class="news-wrapper hidden" data-news-wrapper="true">
				<ul class="center" data-news="true"></ul>

				<div class="last-update">Last update: <span last-update="true"></span></div>
			</div>
			<div class="gmail-wrapper hidden" data-gmail-wrapper="true">
				<ul class="center" data-gmail="true"></ul>

				<div class="last-update">Last update: <span last-update="true"></span></div>
			</div>
		</div>

		<div class="pos transport" data-transport="true">
			<div data-train-time="true"></div>

			<div class="last-update">Last update: <span last-update="true"></span></div>
		</div>

		<div class="loading" data-loading-wrapper="true">
			<span class="msg">Loading...</span>
		</div>
		
		<script src="js/scripts.js"></script>
		{{#if config.firebase}}
		<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
		<script>
		var firebaseConfig = {{{config.firebase}}};
		</script>
		{{/if}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" async="true" rel="stylesheet">
	</body>
</html>